/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url('layout.css'); */
@import '~react-toastify/dist/ReactToastify.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import "@fontsource/roboto"; 
@import "@fontsource/roboto/400.css"; 
@import "@fontsource/roboto/400-italic.css"; 


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Roboto !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html {
  font-family: Roboto !important ;
}


body.dark-mode {
  background-color: #333;
  color: white;
}

body.light-mode {
  background-color: #fff;
  color: black;
}
